.contenedor {
    margin-top: 20px;
    display:flex;  
    justify-content: center; 
    width: 90%;
}
.listado {
    display:flex;
    width: 55%;
    flex-wrap: wrap;
    justify-content: center;
}
mat-card{
    width: 250px;
    background-color: azure;
    margin: 5px;
    height: 200px;

}
.formulario{
   width: 40%;
    justify-items: center;
    margin-left: auto;
}